*,
body {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

div {
    /* border: solid 1px gray; */
    box-sizing: border-box;
}


#header h1 {
    width     : 60%;
    margin    : 25px auto;
    text-align: center;
}

#header p {
    width     : 40%;
    margin    : 20px auto;
    text-align: center;
}


#holder {
    display: flex;
}

#sources {
    width : 20%;
    height: 100vh;
}

#destinations {
    width : 20%;
    height: 100vh;
}

#sankey {
    flex-grow: 1;
    height  : 100vh;
    text-align: center;
    margin-top: 20px;
}

.search_inputs {
    margin-top: 5px;
    width     : 100% !important;
}

input {
    border       : solid 1px gray;
    border-radius: 0;
    padding      : 4px;
}

input:focus {
    border       : solid 1px gray;
    border-radius: 0;
    outline      : none;
}

/* typehead css */
.twitter-typeahead {
    width: 100%;
}

/* end of typehead css */

/* sankey styles */
.link {
    fill          : none;
    /* stroke        : #000; */
    stroke-opacity: .5;
    margin-bottom: 1px;
}

.link:hover, .link:active {
    stroke-opacity: .8;
}

.tt-dataset{
    background-color: white;
}

.tt-dataset h3{
    padding:5px;
}

.tt-suggestion.tt-selectable{
    cursor: pointer;
    padding:3px 5px;
    width:100%;
}

.tt-suggestion.tt-selectable:hover,.tt-suggestion.tt-selectable.tt-cursor {
    background-color:darkslateblue;
    color:white;
    width:100%;
}

.selected_option:hover{
    cursor: pointer;
    background-color:darkslateblue;
    color:white;
}

#destinations_meta{
    margin-top:10px;
}

#destinations_meta ul{
    padding-left:20px;
}

#tooltip{
    position:fixed;
}

.tooltip_hidden{
    display: none;    
}

.tooltip_shown{
    display: block;
}
/* end of sankey styles */